<div class="row">
  <div class="col-sm-10 col-sm-offset-1 well well-lg">
    <h1 align="center">Hullo, <%=  current_user.overrustle_username %></h1>
    <div class="row">
      <% include ban_form.ejs %>
    </div>
    <table class="table table-striped">
      <thead>      
        <tr>
          <th>Channel</th>
          <th>Twitch User</th>
          <th>Service</th>
          <th>Stream</th>
          <th>Last Seen</th>
          <th>Known IP</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr>
            <td><a href="/admin/<%= user.overrustle_username %>" class="btn btn-primary btn-xs"><%= user.overrustle_username %></a></td>
            <td><%= user.twitchuser %></td>
            <td><%= user.service %></td>
            <td><%= user.stream %></td>
            <td><%= user.lastseen %></td>
            <td><%= user.lastip %></td>
          </tr>
        <% }) %>
      </tbody>

    </table>

  </div>
</div>