<div class="row">
  <div class="col-sm-6 col-sm-offset-3 well well-lg">
  <h1 align="center">Update Channel</h3>
  <h2>Logged in as: <%=  current_user.twitchuser %></h1>
    <form class="form" action="profile/<%= current_user.overrustle_username %>" method="post" role="form">
      <div class="form-group">
        <label for="channelService" style="color: white;">Streaming Service</label>
        <select id="channelService" name="service" class="form-control">
          <% for(var i=0; i<SERVICE_NAMES.length; i++) { %>
            <option value="<%= SERVICE_NAMES[i] %>" <%= current_user.service == SERVICE_NAMES[i] ? "selected" : "" %> ><%= SERVICES[SERVICE_NAMES[i]].display_name %></option>
          <% } %>
          <option value="advanced">Advanced</option>
        </select>
      </div>
      <div class="form-group">
        <label for="channelStream" style="color: white;">Channel on that service: </label>
        <input id="channelStream" type="text" name="stream" class="form-control" placeholder="Stream/Video ID"
            value="<%= current_user.stream %>" />
      </div>
      <div class="form-group">
        <label for="channelUsername" style="color: white;">OverRustle.com Channel Name: </label>
        <input id="channelUsername" type="text" name="overrustle_username" class="form-control" placeholder="OverRustle.com username"
            value="<%= current_user.overrustle_username %>"  <%= (current_user.allowchange === 'true' || current_user.admin === 'true') ? '' : 'disabled' %>  />
      </div>
      <button type="submit" class="btn btn-primary width50">Update Channel</button>
      <a href="/<%= current_user.overrustle_username %>" class="btn btn-success width50" target="_blank">Visit Channel</a>
    </form>
  </div>
</div>